@{
    ViewBag.Title = "Home Page";
}
<style>
.greeting {text-align: center}
.greeting {font-family: Palatino}
.greeting {font-family: Palatino}
.spooky {text-align: center}
.spooky {color: #900d09}
.spooky {font-weight: bold}

</style>
<div class="jumbotron">
    <h1 class="greeting">Welcome to Movie Lovers Anonymous</h1>
</div>

<div class="container">
    <h4 class="spooky">If you have found your way to this site you must have a similar obsession for movies as we do. Thus
        you are worthy to rent and view our expansive list of movie titles.</h4><br />
</div>

<div class="container">
    <img src="https://s.studiobinder.com/wp-content/uploads/2019/06/Best-M-Night-Shyamalan-Movies-and-Directing-Style-StudioBinder.jpg" width="1135" height="600" /> 
</div>